{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Créer un Billet et une Critique</h1>
    <form method="post" enctype="multipart/form-data" style="max-width: 600px;">
        {% csrf_token %}
        {{ form.media }}
        
        <div class="form-group">
            <label for="id_title">Titre</label>
            <input type="text" class="form-control" id="id_title" name="title" required>
            <small class="form-text text-muted">Inscrire le titre du livre dont vous demandez la critique.</small>
        </div>
        <div class="form-group">
            <label for="id_author">Auteur</label>
            <input type="text" class="form-control" id="id_author" name="author" required>
            <small class="form-text text-muted">Inscrire le nom de l'auteur du livre.</small>
        </div>
        <div class="form-group">
            <label for="id_description">Description</label>
            {{ form.description }}
            <small class="form-text text-muted">Résumez du livre dont vous voulez la critique.</small>
        </div>
        <div class="form-group">
            <label for="id_image">Image</label>
            <button type="button" class="btn btn-primary" onclick="document.getElementById('id_image').click();">
                Télécharger fichier
            </button>
            <input type="file" class="form-control" id="id_image" name="image" accept="image/*" style="display:none;">
            <small class="form-text text-muted" id="file-name"></small>
        </div>
        <hr>

        <h2>Critique associée</h2>
        <div class="form-group">
            {% for field in review_form %}
                {% if field.name == 'rating' %}
                    <label>{{ field.label }}</label>
                    {% for choice in field %}
                        <div class="form-check form-check-inline">
                            {{ choice.tag }}
                            <label class="form-check-label" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                        </div>
                    {% endfor %}
                {% else %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endif %}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            {% endfor %}
        </div>
        
        <button type="submit" class="btn btn-success">Publier le billet et la critique</button>
    </form>
</div>

<script>
    document.getElementById('id_image').onchange = function () {
        document.getElementById('file-name').textContent = this.files[0].name;
    };
</script>
{% endblock %}
