{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <a href="{% url 'feed:add_ticket' %}" class="btn btn-primary">Demander une critique</a>
    <a href="{% url 'feed:add_ticket_and_review' %}" class="btn btn-primary">Créer un Billet et une Critique</a>
    </div>
</br>

    <div class="list-group">
        {% for ticket in feed_items %}
        <div class="card mb-4" style="max-width: 700px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" class="card-img" alt="{{ ticket.title }}">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <em class="ticket-publication">
                            {% if ticket.user == request.user %}Vous avez{% else %}{{ ticket.user.username }} a{% endif %} publié un ticket
                        </em>
                        <p class="ticket-date">{{ ticket.time_created|date:"d M Y H:i" }}</p>
                        <h5 class="ticket-title">{{ ticket.title }}</h5>
                        <h5 class="ticket-author">{{ ticket.author }}</h5>
                        <p class="description-title">Résumé</p>
                        <div id="shortDescription{{ forloop.counter }}" class="ticket-description">
                            {{ ticket.description|truncatechars:400|safe }}
                            {% if ticket.description|length > 400 %}
                            <a href="#" data-index="{{ forloop.counter }}" class="toggleDescription">Lire la suite</a>
                            {% endif %}
                        </div>
                        <div id="fullDescription{{ forloop.counter }}" class="ticket-description collapse">
                            {{ ticket.description|safe }}
                            <a href="#" data-index="{{ forloop.counter }}" class="toggleDescription">Réduire</a>
                        </div>
                        <div class="card-footer" style = "background-color: white;">
                            <a href="{% url 'feed:add_review' ticket.id %}" class="btn btn-dark">Ajouter une Critique</a>
                            <a href="{% url 'feed:ticket_detail' ticket.id %}" class="btn btn-outline-dark">Voir toutes les critiques ({{ ticket.num_reviews }})</a>
                        </div>
                    </div>
                </div>
            </div>
        </br>
            {% for review in ticket.recent_reviews %}
            <div class="card text-bg-light mb-3" style="max-width: 600px;margin-left: 30px;">
                <div class="card-header">{% if review.user == request.user %}Vous avez{% else %}{{ review.user.username }} a{% endif %} publié une critique | Date de publication : <strong>{{ review.time_created|date:"d M Y H:i" }}</strong></div>
                
                <div class="card-body">
                  <h5 class="card-title">{{ review.headline }}</h5>
                  <p class="card-text">Critique</p>
                  <p>
                <div id="shortReview{{ forloop.parentloop.counter }}{{ forloop.counter }}">{{ review.body|truncatechars:200|safe }}
                    {% if review.body|length > 200 %}
                    <a href="#" data-index="{{ forloop.parentloop.counter }}{{ forloop.counter }}" class="toggleReview">Lire la suite...</a>
                    {% endif %}
                </div>
                <div id="fullReview{{ forloop.parentloop.counter }}{{ forloop.counter }}" class="collapse">
                    {{ review.body|safe }}
                    <a href="#" data-index="{{ forloop.parentloop.counter }}{{ forloop.counter }}" class="toggleReview">Réduire</a>
                </div>
            </p>
            Note :
            {% for star in stars %}
            <i class="fa fa-star {% if review.rating >= star %}text-warning{% else %}text-muted{% endif %}"></i>
            {% endfor %}
                </div>
                
                
              </div>
              
              {% endfor %}
              
        </div>
        
        {% empty %}
        <div class="alert alert-info" role="alert">
            Aucun billet ou commentaire à afficher.
        </div>
        {% endfor %}
        
        <!-- Pagination -->
        {% include 'feed/pagination.html' %}
    </div>
</div>
{% endblock %}
