{% extends 'base.html' %}

{% block content %}
</br>
<div class="container">
    <h1><span class="badge bg-dark">Créer une critique</span></h1>

</br>
    
        <div class="card mb-4" style="max-width: 700px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" class="card-img" alt="{{ ticket.title }}">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <em class="ticket-publication">
                            {{ ticket.user.username }} a besoin d'une critique pour : "{{ ticket.title }}"
                        </em>
                        <p class="ticket-date"><strong>{{ ticket.time_created|date:"d M Y H:i" }}</strong></p>
                        <h5 class="ticket-title">{{ ticket.title }}</h5>
                        <h5 class="ticket-author">{{ ticket.author }}</h5>
                        <p class="description-title">Résumé</p>
                        <div id="shortDescription{{ forloop.counter }}" class="ticket-description">
                            {{ ticket.description|truncatechars:400|safe }}
                            {% if ticket.description|length > 400 %}
                            <a href="#" data-index="{{ forloop.counter }}" class="toggleDescription">Lire la suite</a>
                            {% endif %}
                    </div>
                </div>
            </div>
    
            </div>
    </div>

    <form method="post" enctype="multipart/form-data" style="max-width: 600px;">
        {% csrf_token %}
        {{ form.media }}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <a href="{% url 'feed:feed' %}"> {{ form.non_field_errors }}</a>
            </div>
           
        {% endif %}
        <div class="form-group">
            <label for="{{ form.headline.id_for_label }}">Titre de la critique :</label>
            <input type="text" class="form-control" id="id_headline" name="headline" required>
            <div class="form-text">Inscrire un titre pour votre critique.</div>
        </div>
    </br>
        <div class="form-group">
            <label>Évaluation :</label>
            {% for choice in form.rating %}
            <div class="form-check form-check-inline">
                {{ choice.tag }}
                <label class="form-check-label" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
            </div>
            {% endfor %}
        </div>
    </br>

        <div class="form-group">
            <label for="{{ form.body.id_for_label }}">Corps de la critique :</label>
            {{ form.body }}
        </div>
    </br>
        
        <button type="submit" class="btn btn-dark">Publier la critique</button>
    </form>
</div>

{% endblock %}
