



















<div class="card-body">
    <em class="ticket-publication">
        {% if ticket.user == request.user %}Vous avez{% else %}{{ ticket.user.username }} a{% endif %} publié un ticket
    </em>
    <p class="ticket-date">{{ ticket.time_created|date:"d M Y H:i" }}</p>
    <h5 class="ticket-title">{{ ticket.title }}</h5>
    <h5 class="ticket-author">{{ ticket.author }}</h5>
    <p class="description-title">Résumé</p>
    <div id="shortDescription{{ forloop.counter }}" class="ticket-description">
        {{ ticket.description|truncatechars:400|safe }}
        {% if ticket.description|length > 400 %}
        <a href="#" data-index="{{ forloop.counter }}" class="toggleDescription">Lire la suite</a>
        {% endif %}
    </div>
    <div id="fullDescription{{ forloop.counter }}" class="ticket-description collapse">
        {{ ticket.description|safe }}
        <a href="#" data-index="{{ forloop.counter }}" class="toggleDescription">Réduire</a>
    </div>
    <div class="card-footer">
        <a href="{% url 'feed:add_review' ticket.id %}" class="btn btn-dark">Ajouter une Critique</a>
        <a href="{% url 'feed:ticket_detail' ticket.id %}" class="btn btn-outline-dark">Voir toutes les critiques ({{ ticket.num_reviews }})</a>
    </div>
</div>
