{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="create_ticket_title">Créer un ticket</h1>
    <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.media }} <!-- Assurez-vous d'inclure les médias nécessaires pour CKEditor -->

        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">Titre</label>
            {{ form.title }}
            <div class="form-text">Inscrire le titre du livre dont vous demandez la critique.</div>
        </div>

        <div class="mb-3">
            <label for="{{ form.author.id_for_label }}" class="form-label">Auteur</label>
            {{ form.author }}
            <div class="form-text">Inscrire le nom de l'auteur du livre.</div>
        </div>

        <div class="mb-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
            {{ form.description }}
            <div class="form-text">Résumez du livre dont vous voulez la critique.</div>
        </div>

        <div class="mb-3">
            <label for="{{ form.image.id_for_label }}" class="form-label">Image</label>
            {{ form.image }}
            <div class="form-text" id="file-name"></div>
        </div>

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>

<script>
    document.getElementById('id_image').onchange = function () {
        document.getElementById('file-name').textContent = this.files[0].name;
    };
</script>
{% endblock %}
