{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ ticket.title }}</h1>
    <h2>{{ ticket.author }}</h2>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
    <img src="{{ ticket.image.url }}" class="img-fluid rounded" alt="Image">
    {% endif %}
    <h2>Critiques</h2>
    <h3>{{ reviews.headline }}</h3>
    {% for review in reviews %}
    
    <div>
        
        <strong>{{ review.user.username }}</strong>: {{ review.body }}
        <div>
            {% for star in stars %}
            <i class="fa fa-star {% if review.rating >= star %}text-warning{% else %}text-muted{% endif %}"></i>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
