<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Web Django App{% endblock %}</title>
    </head>
<body>
    <header>
        <h1>Web Django App</h1>
    
    <nav>
        <ul>
            <li><a href="{% url 'accounts:home' %}">Home</a></li>
            <li><a href="{% url 'accounts:login' %}">login</a></li>
            <li><a href="{% url 'accounts:signup' %}">signup</a></li>
            <li><a href="{% url 'accounts:logout' %}">logout</a></li>
        </ul>
    </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Web Django App</p>
    </footer>
</html>