/* static/css/styles.css */
@import "reset.css";




.login-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .signup-section, .login-section {
    width: 48%;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  form input, form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  