

.container {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

h1.create_ticket_title {
  text-align: center;
}

.form-text {

  font-style: italic; /* Add this line */
}