{% extends 'base.html' %}

{% block title %}Connectez-vous ou Inscrivez-vous{% endblock %}




{% block content %}

</br></br></br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8" class="login-form">
            <div class="card-group mb-0">
                <!-- Connexion -->
                <div class="card p-4">
                    <div class="card-body">
                        <h2 style="text-align: center;">Connectez-vous</h2>
                        <p class="text-muted">Connectez-vous avec votre compte</p>
                        <form method="post" action="{% url 'accounts:login' %}">
                            {% csrf_token %}
                            <!-- Affichage du message d'erreur général -->
                            {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                           {% endif %}
                           
                            <!-- Champs de formulaire avec form-floating -->
                            <div class="input-group mb-3">
                                <label for="username" class="sr-only">Nom d'utilisateur</label>
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Username" name="username">
                            </div>
                            <div class="input-group mb-4">
                                <label for="password" class="sr-only">Mot de passe</label>
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            <!-- Affichage des erreurs pour le champ password -->
                            
                            
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-primary px-4">Connexion</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Inscription -->
                <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                    <div class="card-body text-center">
                        <div>
                            <h2>Inscrivez-vous</h2>
                            <p>Vous n'avez pas de compte? Inscrivez-vous maintenant!</p>
                            <a href="{% url 'accounts:signup' %}" class="btn btn-primary active mt-3">S'inscrire</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
